Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          buckets: dlcs-bootstrap-objects
          roleName: aws-elasticbeanstalk-ec2-role

files:
  "/opt/tizer.tar.gz" :
    mode: "000755"
    owner: root
    group: root
    authentication: S3Access
    source: https://dlcs-bootstrap-objects.s3.amazonaws.com/tizer.tar.gz

container_commands:
  01_unzip_dependencies:
    command: "cd /opt/ && tar -xzvf tizer.tar.gz"
  02_make_scratch:
    command: "mkdir -p /scratch"
  03_mount_scratch:
    command: "mountpoint -q /scratch && mount 172.31.5.227:exports/scratch /scratch"
