Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["dlcs-bootstrap-objects"]
          roleName:
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/opt/tizer.tar.gz" :
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/dlcs-bootstrap-objects/tizer.tar.gz

container_commands:
  01_unzip_dependencies:
    command: "cd /opt/ && tar -xzvf tizer.tar.gz"